<% if model.errors.any? %>
  <div class="col-md-10">

    <div class="alert alert-dismissible fade show alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <strong>Fix <%= pluralize(model.errors.count, 'error') %></strong>
      <%
        # for debug only
        model.errors.full_messages.each do |message|
      %>
      <%=
        message
      %>
      <%
         end
      %>
    </div>
  </div>
<% end %>
