<div class="row">
  <div class="col-md-12">
    <h3>Courses</h3>
  </div>
</div>

<% @courses.each do |course| %>
  <%= render partial: 'course_item', locals: {course: course} %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Course', new_course_path %>
  </div>
</div>
