@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.xsmall {
  font-size: 75%;
}

//http://stackoverflow.com/a/22991268
.fixed-table { table-layout: fixed; }

.hide-overflow {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

/* Sticky footer */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

/* Inline images */
.img-inline {
  height: 1.1em;
  vertical-align: text-top;
  margin-top: -0.1em;
}

.text-bg-primary {
  background: rgba($gray-100, 0.9);
  padding: .075em;
}

.text-limit {
  position: relative;
}

$text-limit-line-height: 1.25em;

.text-limit-4-inner {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  line-height: $text-limit-line-height;
  max-height: $text-limit-line-height * 4;
}
