<div class="row">
  <div class="col-md-12">
    <h1>Update your review</h1>
    <div class="my-3">on course <%= link_to @course.title, @course %></div>
    <%= render partial: 'form', locals: {course: @course} %>
  </div>
</div>

